<h2> <%= @quiz.name %> </h2>

Subject <%= @quiz.subject %><br>
Number of Questions <%= @quiz.count_questions%><br><br>

<a href="/quiz/<%= @quiz.id %>/questions/new"> Add a Question</a><br><br>

<% if @questions.any? %>
  <ol>
    <% @questions.each do |question|%>
      <li>
        <%= question.question %> <br>
        <% question.possible_answers.each_with_index do |answer, idx| %>
          <input type="radio" name="answer<%= question.id %>" value="<%= idx %>"> <%= answer %><br>
        <% end %>
      </li>
      <br><br>
    <% end %>
  </ol>
<% else%>
  No questions yet!
<% end %>
